body{
    background-color: antiquewhite;
}
header{
    border: solid red;
}
header h1{
    padding: 2rem;
    text-align: center;
}
nav{
    border: solid red;
}
nav ul{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}
main{
    border: solid red;
}
main .sectionPrincipal h3{
    padding: 2rem;
    text-align: center;
    border: dotted blue;
}
main .sectionPrincipal section{
    border: dotted blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productos{
    width: 30rem;
    text-align: center;
    border: dotted rgb(96, 156, 23);
    padding: 2rem;
}
footer{
    margin-top: 5rem;
    border: solid red;
    display: flex;
    justify-content: center;
}
footer h4{
    padding: 1rem;
}
